.title {
    margin-left: 8%;
    margin-top: 5%;
    font-size: 6rem;
    letter-spacing: 3px;
    background: linear-gradient(to right, #5433FF, #20BDFF,  #78DAA2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-size: 300%;
    animation: animated_gradient 5s ease-in-out infinite;
}
.second-title {
    margin-left: 8%;
    margin-top: 5%;
    font-size: 4.5rem;
    letter-spacing: 3px;
    background: linear-gradient(to right, #5433FF, #20BDFF,  #78DAA2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    background-size: 300%;
    animation: animated_gradient 5s ease-in-out infinite;
}
.main-text {
    margin-left: 12rem;
    letter-spacing: 0.5px;
}
